.page_title{
    color: #656565;
}

.thread_container{
    border-radius: 3px;
    color: white;
    background: linear-gradient(135deg, #ffbe26 0%, #b54200 100%);
}

.response_container{
    border-radius: 3px;
    color: white;
    background: linear-gradient(135deg, #afb42b 0%, #5f6900 100%)
}